<h1>Welcome to my Store</h1>

<div>
    <h2>Game Tables & Game Room Furniture Ideas</h2>
    <a href="/GameTable">
        <img src="../static/image/GameTable/28-chess-backgammon-table-with-chairs.jpg" alt="Game Table">
    </a>
    <p>
        Game tables & game room furniture make it easier to play the games you like and to relax in a space 
        that is meant for recreation. Game tables can come in a variety of types and styles. 
        Traditional game tables include billiards, shuffleboard, table tennis or ping pong and foosball. 
        They also encompass chess and checkers, parcheesi, backgammon, and cards. 
        Card tables that can be folded and put away are useful. Comfortable chairs, rugs and other lounge type 
        furnishings turn it into an inviting space.
    </p>
</div>

<div>
    <h2>Kitchen & Dining Furniture Ideas</h2>
    <a href="/Kitchen">
        <img src="../static/image/Kitchen/warm-metal-kitchen.jpg" alt="Kitchen">
    </a>
    <p>
        Give your kitchen an extra bit of style and added functionality thanks to the amazing variety of 
        kitchen & dining furniture pieces out there. Whether you are looking for simple dining chairs, bar 
        stools for your kitchen island, a full dining set, or just some decorative sideboards and buffets, 
        there is enough variety in kitchen and dining furniture out there to meet your needs. 
        These pieces also feature different types of designs and styles. From vintage-style cabinets for 
        displaying your china to modern wine racks and dining tables, you can find different options to cater 
        to your creative décor ideas at home.
    </p>
</div>

<div>
    <h2>Living Room Furniture Ideas</h2>
    <a href="/LivingRoom">
        <img src="../static/image/LivingRoom/convertible-chair-1.jpeg" alt="Living Room">
    </a>
    <p>
        Give your living room a dash of splashing colors and excellent comfort with the amazing variety of 
        Loveseats out there. Loveseats can be great accent furniture pieces that will transform your neutral 
        living room into a stunning and stylish space. They are also very comfortable. These seats are the 
        ideal place to relax and unwind after a long day and are also available in a wide array of styles 
        and designs. From modern loveseats that feature plush cushioning and additional accent pillows to 
        simple designs for the minimalist decorator, the options are indeed endless. 
        The sizes will also vary from one loveseat to the other.
    </p>
</div>